In [40]:
import pandas as pd
import numpy as np

In [41]:
data_frame = pd.read_csv("./train.csv")

In [42]:
data_frame.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [43]:
data_frame.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [44]:
data_frame.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [45]:
from sklearn.preprocessing import OrdinalEncoder

In [46]:
def std(data_frame):
    encoder = OrdinalEncoder()
    encoder.fit(data_frame[['Name', 'Sex', 'Cabin', 'Embarked', 'Ticket']])
    encoded_data = encoder.transform(data_frame[['Name', 'Sex', 'Cabin', 'Embarked', 'Ticket']])
    data = pd.DataFrame(encoded_data)
    data_frame['Name'] = data.iloc[:, 0]
    data_frame['Sex'] = data.iloc[:, 1]
    data_frame['Cabin'] = data.iloc[:, 2]
    data_frame['Embarked'] = data.iloc[:, 3]
    data_frame['Ticket'] = data.iloc[:, 4]
    age_mean = data_frame['Age'].mean()
    data_frame['Age'] = data_frame['Age'].fillna(age_mean)
    data_frame = data_frame.drop(['Cabin', 'PassengerId'], axis=1) #EMB TODO
   # data_frame.dropna(inplace=True)
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    data_frame['Name'] = scaler.fit_transform(data_frame[['Name']])
    data_frame['Age'] = scaler.fit_transform(data_frame[['Age']])
    data_frame['Ticket'] = scaler.fit_transform(data_frame[['Ticket']])
    data_frame['Fare'] = scaler.fit_transform(data_frame[['Fare']])
    return data_frame

In [47]:
data_frame = std(data_frame)

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
X = data_frame.drop('Survived', axis=1)

In [50]:
Y = data_frame['Survived']

In [51]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, stratify=Y, train_size=0.75)

In [52]:
X_train.shape

(668, 9)

In [53]:
Y_train.shape

(668,)

In [54]:
X_train.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
467,1,1.248010,1.0,2.023967,0,0,-1.467230,-0.113846,2.0
437,2,0.944756,0.0,-0.438572,2,3,-0.505777,-0.270896,2.0
794,3,-0.948643,1.0,-0.361618,0,0,0.057146,-0.489442,2.0
307,1,0.785352,0.0,-0.977252,1,0,1.357349,1.544246,0.0
482,3,1.014737,1.0,1.562241,0,0,0.958819,-0.486337,2.0

In [55]:
X_train.describe()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
count,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,668.000000,666.000000
mean,2.297904,0.018502,0.648204,0.028439,0.517964,0.377246,0.007039,-0.023500,1.539039
std,0.835599,1.004024,0.477889,0.997709,1.105245,0.827683,1.006024,0.904506,0.794232
min,1.000000,-1.730108,0.000000,-2.253155,0.000000,0.000000,-1.686421,-0.648422,0.000000
25%,2.000000,-0.830063,0.000000,-0.515526,0.000000,0.000000,-0.900570,-0.488854,1.000000
50%,3.000000,0.033047,1.000000,0.000000,0.000000,0.000000,-0.007615,-0.357308,2.000000
75%,3.000000,0.910737,1.000000,0.407926,1.000000,0.000000,0.906512,-0.034314,2.000000
max,3.000000,1.730108,1.000000,3.870872,8.000000,6.000000,1.701081,9.667167,2.000000

In [56]:
X_train.isna().sum()

Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Embarked    2
dtype: int64

In [57]:
from sklearn.metrics import accuracy_score, f1_score

In [58]:
from sklearn.tree import DecisionTreeClassifier

In [65]:
def decisionModel(X_train, Y_train):
    dmodel = DecisionTreeClassifier()
    dmodel.fit(X_train, Y_train)
   # predict1 = dmodel.predict(X_test)
   # print(accuracy_score(Y_test, predict1), f1_score(Y_test, predict1))
    return dmodel

In [66]:
#dmodel = decisionModel(X, Y)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lmodel = LinearRegression()
lmodel.fit(X_train, Y_train)
predict = lmodel.predict(X_test)
pmin = predict.min()
pmax = predict.max()
predict = (predict-pmin)/(pmax-pmin)
predict = np.where(predict < 0.5 , 0 , 1)
print(accuracy_score(Y_test, predict), f1_score(Y_test, predict))

0.8161434977578476 0.7515151515151515

In [67]:
finalModel = decisionModel(X, Y)

In [68]:
test_df = pd.read_csv("./test.csv")
#print(test_df.head())
print(test_df.shape)
passId = test_df['PassengerId']
test_df = std(test_df)

(418, 11)

In [69]:
test_df

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,3,-0.020718,1.0,0.334993,0,0,-0.269494,-0.497811,1.0
1,3,1.611889,0.0,1.325530,1,0,0.372934,-0.512660,2.0
2,2,0.501385,1.0,2.514175,0,0,-1.005027,-0.464532,1.0
3,3,1.653326,1.0,-0.259330,0,0,-0.316046,-0.482888,2.0
4,3,-0.252764,0.0,-0.655545,1,1,-0.399841,-0.417971,2.0
...,...,...,...,...,...,...,...,...,...
413,3,1.197522,1.0,0.000000,0,0,0.801219,-0.493856,2.0
414,1,0.617407,0.0,0.691586,0,0,1.331921,1.312180,0.0
415,3,1.023487,1.0,0.651965,0,0,1.536753,-0.508183,2.0
416,3,1.454430,1.0,0.000000,0,0,0.363624,-0.493856,2.0
417,3,0.774867,1.0,0.000000,1,1,-0.707089,-0.237621,0.0

In [70]:
pr = finalModel.predict(test_df)

In [77]:
res_frame = pd.DataFrame(pr, columns= ['Survived'])
res_frame['PassengerId'] = passId
res_frame

     Survived  PassengerId
0           0          892
1           1          893
2           0          894
3           0          895
4           0          896
..        ...          ...
413         0         1305
414         1         1306
415         1         1307
416         0         1308
417         0         1309

[418 rows x 2 columns]

In [73]:
res = pd.read_csv("./gender_submission.csv")

In [74]:
res

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [76]:
accuracy_score(res.iloc[:,1], res_frame.iloc[:,0])

0.7894736842105263

In [78]:
res_frame.to_csv('res.csv', index=False)